include dash_elasticsearch_autosuggest/dash_elasticsearch_autosuggest.min.js
include dash_elasticsearch_autosuggest/dash_elasticsearch_autosuggest.dev.js
include dash_elasticsearch_autosuggest/metadata.json
include dash_elasticsearch_autosuggest/package.json
include README.md
include assets/autosuggest.css
